@import '~antd/dist/antd.css';
.wln_datas{
	background: #f4f3ef;
}
.wln_datahint{
	width:100%;
	background:#fff;
	line-height:1.57778rem;
	text-align:center;
	font-size:0.75556rem;
	color:#333;
	font-weight:bold;
	padding:0.3rem 0.73333rem;
	border-bottom:0.0222rem solid #eee;
	position:relative;
	margin-bottom: 0.71111rem;
}
.wln_datahint>i{
	color:#f28c03;
	position:absolute;
	left:0.666rem;
	top:50%;
	margin-top:-0.3111rem;
	font-size:0.66667rem;
}
.wln_datacon{
	background: #fff;
	margin-bottom: 0.71111rem;
	border-bottom:0.0222rem solid #eee;
}
.wln_datacon li{
	border-top: 0.0222rem solid #eee;
	padding: 0.66667rem 0.71111rem;
	font-size: 0.75556rem;
	line-height: 0.75556rem;
}
.wln_changepsd{
	font-size: 0.75556rem;
	color: #f28c03;
	text-align: center;
	padding: 0.66667rem 0;
	background: #fff;
	border-top:0.0222rem solid #eee;
	border-bottom:0.0222rem solid #eee;
}