@import '~antd/dist/antd.css';
:root{
	background:#f8f3f0;
}
.wl_home{
	padding-bottom: 53px;
	width:100%;
	box-sizing: padding-box;
}
.wl_top{
	height:8.88889rem;
	width:100%;
	border-bottom:0.04444rem solid #eee;
	background:url(../img/two.png) no-repeat;
	background-size:cover;
	margin-bottom:0.71111rem;

}
.wl_header{
	width:100%;
	height:2.06667rem;
	text-align:center;
	line-height:2.06667rem;
	color:#fff;
	font-size:1.02222rem;
	position:fixed;
}
.wl_header>a>.wl_mess{
	color:#ccc;
	position:absolute;
	left:0.666rem;
	top:50%;
	margin-top:-0.3111rem;
	font-size:0.66667rem;
}
/* 门禁 */
.wl_center{
	width:100%;
	height:6.4rem;
	margin-bottom:0.71111rem;
}

.wl_Ldoor{
	width:6.51111rem;
	height:100%;
	background:#85b1ee;
}
.wl_three{
	width:9.35556rem;
	height:100%;
}
.wl_Rplease{
	width:9.35556rem;
	height:3.13333rem;
	margin-bottom:0.13333rem;
	background:#8cc372;
}
.wl_Rplease .wl_qrcode{
	margin-top:0.8rem;
	font-size:2.111rem;
	margin-right:0.6rem;
}
.wl_Ldoor>.wl_icon{
	font-size:2.5555rem;
	margin-left:0.71111rem;
}
.wl_parcel{
	width:4.6rem;
	height:3.13333rem;
	background:#d0aa7b;
}
.wl_phone{
	width:4.6rem;
	height:3.13333rem;
	background:#85b1ee;
}
.wl_Pfont,.wl_Pdoor{
	margin-left:0.71111rem;
	color:#fff;
}
.wl_Pfont{
	font-size:0.75556rem;
	margin-top:0.75556rem;
}
.wl_Pdoor{
	font-size:0.53333rem;
}

/* 你知道吗*/
.wl_know{
	width:100%;
	background:#fff;
	border:0.0222rem solid #eee;
	border-left:none;
	border-right:none;
}
.wl_ktit{
	height:2.4rem;
	line-height:2.4rem;
	padding:0 0.73333rem;
	border-left:none;
	border-right:none;
	font-size:0.8rem;
	border-bottom:0.0222rem solid #eee;
}
.wl_ktit .wl_youK{
	color:#333;
	font-weight:bold;
}
.wl_ktit .wl_kmore{
	color:#878588;
}

.wl_kPlease{
	height:3.68889rem;
	padding:0 0.73333rem;
}
.wl_kPlease>h3{
	height:2.2rem;
	line-height:2.2rem;
	color:#333;
	font-size:0.8rem;
}
.wl_there{
	height:1rem;
	line-height:1rem ;
	color:#878588;
	font-size:0.73333rem;
}
.wl_there .wl_ktime{
	margin-left:0.77778rem;
}
/* 社区新鲜事 */
.wl_Scon{
	width:100%;
}.wl_Scon{
	width:100%;
}
.wl_tell{
	padding:0 0.73333rem;
}
.wl_tell>h4{
	height:2.2rem;
	line-height:2.2rem;
	font-size:0.75556rem;
	color:#333;
}
.wl_tell>h4>em{
	color:#a3a1a4;
	margin-left:0.2rem;
}
.wl_tell>h4>span{
	color:#fbab0e;
}
.wl_tell>h4>i{
	margin-right:0.3rem;
}
.wl_content{
	line-height:1.04444rem;
	font-size:0.75rem;
	color:#333;
	margin-bottom:0.3555rem;
	overflow:hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	text-overflow:ellipsis;
	-webkit-line-clamp: 8;
	word-wrap: break-word;

}

.wl_pinglun{
	padding:0 0.73333rem;
	height:1.3rem;
	line-height:1.3rem;
	margin-top:0.8rem;
}
.wl_mewwage>i{
	margin-left:0.3555rem;
	font-size:0.711rem;
	color:#ccc;
}
.wl_Stime{
	font-size:0.711rem;
	color:#9a989b;
}
/* 图片分布 */
.wl_img{
	

}