.Password{
	width:100%;
	height:100%;
	background-color: #f4f3ef;
}
.pass_bar{
	width:100%;
	height:2.1111111remrem;
	background:#fff;
	line-height:2.1111111remrem;
	text-align:center;
	font-size:0.75556rem;
	color:#333;
	background-color: #fff;
	padding:0 0.73333rem;
	border:0.0222rem solid #eee;
	position:relative;
	margin-bottom: 1.17778rem;
}
.pass_title{
	text-align: center;
}
.pass_submit{
	position: absolute;
	right:0.8888889rem;
	color: #f99d00;
}
.pass_bar .pass{
	color: #f99d00;
	position:absolute;
	left:0.666rem;
	top:50%;
	margin-top:-0.3111rem;
	font-size:0.75555rem;
}
.pass_replace{
	width:100%;
}
.pass_three{
	height: 6.53333rem;
	background-color: #fff;
}
.pass_three li{	
	padding: 0 0.71111rem;
}
.pass_three li input{
	border:none;
	outline: none;
	font-size: 0.66666667rem;
	width:100%;
	height: 2.13rem;
	color:#000;	
	border-bottom:0.04444rem solid #e5e4e2;
}
.pass_about{
	padding: 0.4rem 0.71111rem;
	height: 19rem;
	color: #999896;
	font-size: 0.66666667rem;
}
