.x_pj{
	width:100%;
	background:#f4f3ef;
}
#pingJ{ 
	width:142px;
	margin:10px auto;
	height:28px;
	
}
#pingJ li{ 
	width:14px;
	float:left;
	height:28px; 
	cursor:pointer;
	background:url(../img/star.gif) no-repeat 0 0; 
	list-style:none;
}
#pingJ .on{ 
	width:14px;
	float:left;
	height:28px;
	 cursor:pointer;
	 background:url(../img/star.gif) no-repeat -14px 0; 
	 list-style:none;
	}
#pingJ .on1{
 width:14px;
 float:left;
 height:28px; 
 cursor:pointer;
 background:url(../img/star.gif) no-repeat -14px -29px; 
 list-style:none;
}
#pingJ .re{ 
	width:14px;
	float:left;
	height:28px; 
	cursor:pointer;
	background:url(../img/star.gif) no-repeat 0 -29px; 
	list-style:none;
}
.pjTOP{
	height:1.6rem;
	box-sizing:border-box;
	border-bottom:1px solid #e2e1df;
	background:#fff;
	line-height:1.6rem;
	text-align:center;
	padding:0 0.62222rem 0 0.44444rem;
}
.pjTOP p:nth-child(2){
	font-size:0.73333rem;
	color:#424240;
	width:4.44444rem;
	display:inline-block;
	
}
.pjTOP p:nth-child(3){
	font-size:0.73333rem;
	color:#e5a800;
	
}
.pjTOP p img{
    vertical-align:middle;
}
.bayue{
	font-size:0.51111rem;
	text-align:center;
	padding:1.64444rem 0 0 0.75556rem;
}
.pj_con{
	padding-bottom:0.55556rem;
}
.x_pj .xx_conText{
	width:100%;
	height:5rem;
	background:#fff;
	border:none;
	font-size:0.51111rem;
	color:#a3a2a0;
	text-align:left;
	line-height:0.51111rem;
	resize:none;
}


